= form_for @submission, url: wizard_path, :html=>{:class=>"form-horizontal edit_submission", :"data-validate" => "parsley", :multipart => true} do |f|
	- if @submission.errors.any?
		.error_messages
			%h2
				= pluralize(@submission.errors.count, "error")
				prohibited this user from being saved:
			%ul
				- @submission.errors.full_messages.each do |msg|
					%li= msg
	.row.first-row
		%a{:href=>"#", :style=>""} 
			- if session[:submission_type]=='product'
				.submission-product-page-title
			- else
				.submission-project-page-title
	= yield f
	.row.actions{:style=>"text-align: right;"}
		.control-box{:style=>"margin-right: 50px;"}
			= link_to "Go Back", previous_wizard_path, :class=>"c_btn yc_btn"
			= f.submit "Continue", :class=>"c_btn btn-continue yc_btn"
			- unless step == :agree_terms # What are we saving if they have not done anything yet?
				= link_to "Save and Resume Later", "#", :class=>"c_btn btn_resume_later yc_btn", :style=>"height: 65px;padding-top: 10px;"

:javascript
	$("input.accept-agree").click(function(){
		if($(this).is(':checked')){
			$('div.accept-agree-check').addClass("accept-agree-checked");			
			$(".btn-continue").removeAttr("disabled");
		}else{
			$(".btn-continue").attr("disabled","disabled");
			$('div.accept-agree-check').removeClass("accept-agree-checked");			
		}
	});	

	$('a.btn_resume_later').click(function(){		
		var action = $('form.edit_submission').attr('action')
		$('input[name=_method]').val('post');		
		$('form.edit_submission').attr('action','/home/resume_later?type=#{@submission.class.to_s}')
		flag = $('form.edit_submission').submit();
		if(flag != true){
			$('input[name=_method]').val('put');
			$('form.edit_submission').attr('action',action);
		}
	});
