= form_for @submission, url: wizard_path, :html=>{:class=>"form-horizontal edit_submission", :"data-validate" => "parsley"} do |f|
	- if @submission.errors.any?
		.error_messages
			%h2
				= pluralize(@submission.errors.count, "error")
				prohibited this user from being saved:
			%ul
				- @submission.errors.full_messages.each do |msg|
					%li= msg
	.row.first-row
		%h3.offset1 #{session[:submission_type].to_s.humanize unless session[:submission_type].nil?} Design Submission
	= yield f
	.row.actions{:style=>"text-align: center;"}
		= link_to "Go Back", previous_wizard_path, :class=>"btn btn-primary"
		= f.submit "Continue", :class=>"btn btn-primary btn-continue"
		- unless step == :agree_terms # What are we saving if they have not done anything yet?
			= link_to "Save and Resume Later", :home_resume_later, :class=>"btn btn-primary"

:javascript
	$("input.accept-agree").click(function(){
		if($(this).is(':checked')){
			$(".btn-continue").removeAttr("disabled");
		}else{
			$(".btn-continue").attr("disabled","disabled");
		}
	});		