= form_for @order, url: wizard_path, :html=>{:class=>"form-horizontal order-processing", :"data-validate" => "parsley"} do |f|
	- if @order.errors.any?
		.error_messages
			%h2
				= pluralize(@order.errors.count, "error")
				prohibited this user from being saved:
			%ul
				- @order.errors.full_messages.each do |msg|
					%li= msg
	.row.first-row
		%h3.offset1 Checkout
	= yield f
	.row.actions{:style=>"text-align: center;"}
		
		= f.submit "Continue", :class=>"btn btn-primary btn-continue"
		

:javascript
	$("input.accept-agree").click(function(){
		if($(this).is(':checked')){
			$(".btn-continue").removeAttr("disabled");
		}else{
			$(".btn-continue").attr("disabled","disabled");
		}
	});		