= form_for @user, :url => (@user.new_record? ? signup_path : user_path), :method => (@user.new_record? ? :post : :put), :html => { :class => 'form-horizontal', :"data-validate" => "parsley" } do |f|
	.control-group
		= f.label :email, 'Email Address*', :class => 'control-label'
		.controls
			= f.text_field :email, :class => 'text_field', :"data-required"=>"true"
			%br
			%span.note (we'll send updates on your entry to this address)
	.control-group
		= f.label "Password*", :class => 'control-label'
		.controls
			= f.password_field :password, :class => 'text_field', :"data-required"=>"true"
	.control-group
		= f.label "Retype Password*", :class => 'control-label'
		.controls
			= f.password_field :password_confirmation, :class => 'text_field', :"data-required"=>"true"
	.control-group
		= f.label "First Name*", :class => 'control-label'
		.controls
			= f.text_field :first_name, :class => 'text_field', :"data-required"=>"true"
	.control-group
		= f.label "Last Name*", :class => 'control-label'
		.controls
			= f.text_field :last_name, :class => 'text_field', :"data-required"=>"true"
	.control-group
		= f.label "Company Name*", :class => 'control-label'
		.controls
			= f.text_field :company_name, :class => 'text_field', :"data-required"=>"true"
	.control-group
		= f.label "Occupation*", :class => 'control-label'
		.controls
			= f.text_field :occupation, :class => 'text_field', :"data-required"=>"true"
	
	.form-actions{:style=>'float: right;'}
		= f.submit 'Submit', :class => 'c_btn wc_btn'		
