= form_for @user, :url => (@user.new_record? ? signup_path : user_path), :method => (@user.new_record? ? :post : :put), :html => { :class => 'form-horizontal' } do |f|
	.control-group
		= f.label :email, 'Email Address', :class => 'control-label'
		.controls
			= f.text_field :email, :class => 'text_field'
			%br
			%span.note (we'll send updates on your entry to this address)
	.control-group
		= f.label :password, :class => 'control-label'
		.controls
			= f.password_field :password, :class => 'text_field'
	.control-group
		= f.label "Retype Password", :class => 'control-label'
		.controls
			= f.password_field :password_confirmation, :class => 'text_field'
	.control-group
		= f.label :first_name, :class => 'control-label'
		.controls
			= f.text_field :first_name, :class => 'text_field'
	.control-group
		= f.label :last_name, :class => 'control-label'
		.controls
			= f.text_field :last_name, :class => 'text_field'
	.control-group
		= f.label :company_name, :class => 'control-label'
		.controls
			= f.text_field :company_name, :class => 'text_field'
	.control-group
		= f.label :occupation, :class => 'control-label'
		.controls
			= f.text_field :occupation, :class => 'text_field'
	
	.form-actions{:style=>'float: right;'}
		= f.submit 'Submit', :class => 'c_btn wc_btn'		
