%footer.container
	.row
		%ul.footer-menu
			%li
				= link_to 'about us', 'http://interiordesign.net/info/aboutus.php', :target => '_blank'
			%li
				= link_to 'advertise in Interior Design', 'http://interiordesign.net/info/advertise.php', :target => '_blank'
			%li
				= link_to 'site map', 'http://interiordesign.net/sitemap.php', :target => '_blank'
			%li
				= link_to 'contact us', 'http://interiordesign.net/info/contactus.php', :target => '_blank'
			%li
				= link_to 'industry links', 'http://interiordesign.net/affiliate/', :target => '_blank'
			%li
				= link_to 'subscriber services', 'http://www.interiordesign.net/article/480187-subscriber_services.php', :target => '_blank'
			%li
				= link_to 'editiorial calendar & submissions', 'http://interiordesign.net/info/editorialcalendar.php', :target => '_blank'
			%li
				= link_to 'rss', 'http://interiordesign.net/rss/', :target => '_blank'
			%li.last
				= link_to 'media kit', 'http://www.interiordesignmediakit.net/r5/home.asp', :target => '_blank'
	.row.details
		.row
			&copy; #{Date.today.year} Sandow Media LLC. All rights reserved.
		.row
			Use of this website is subject to its
			%a{:href => 'http://interiordesign.net/info/terms_and_conditions.php', :target => '_blank'} Terms of Use
			\|
			%a{:href => 'http://interiordesign.net/info/privacy_policy.php', :target => '_blank'} Privacy Policy