.container{:style=>"margin-top:20px;"}
	.row{:style=>"text-align:center"}
		%ul.footer-menu
			%li
				= link_to 'about us', 'about_us_path'
			%li
				= link_to 'advertise in Interior Design', 'advertise_pat'
			%li
				= link_to 'Site Map', 'site_map_path'
			%li
				= link_to 'contact us', 'contact_us_path'
			%li
				= link_to 'Industry Links', 'industry_links_path'
			%li
				= link_to 'Subscriber Services', 'subscriber_services_path'
			%li
				= link_to 'editiorial calendar & submissions', 'calendar_submissions_path'
			%li.last
				= link_to 'RSS', 'rss_path'
	.row
		.row{:style=>"text-align:center;padding-top: 20px;"}
			@2013 Sandow Media LLC.All rights reserved.
		.row{:style=>"text-align:center"}
			Use of this website is subject to its Terms of User Privacy Policy


