.navbar.navbar-fixed-top{:style=>"position: relative;"}
	.navbar-inner
		.row.banner
			= render "shared/banner"
		.row.nav-top-bar
			.container
				.nav-collapse
					%ul.nav
						%li.dropdown.menu-submit				
							%a.dropdown-toggle{:href=>home_submission_landing_path, :role=>"button"} 
								SUBMIT
							%ul.dropdown-menu{:role=>"menu"}
								%li
									= link_to "Product", submission_step_index_path.to_s+'?type=product'
								%li.last
									= link_to "Project", submission_step_index_path.to_s+'?type=project'
						%li.menu-vote= link_to "VOTE", home_vote_path
						%li.menu-event= link_to "EVENT", home_event_path
						%li.menu-faq= link_to "FAQ", home_faq_path
						%li.dropdown.menu-winner
							%a.dropdown-toggle{:href=>home_submission_landing_path, :role=>"button"} 
								PAST WINNERS
							%ul.dropdown-menu{:role=>"menu", :"aria-labelledby"=>"dropdown_profile_icon"}
								%li
									= link_to Date.today.year.to_i-1, '#{year}'
								%li
									= link_to Date.today.year.to_i-2, '#{year}'
								%li
									= link_to Date.today.year.to_i-3, '#{year}'
								%li
									= link_to Date.today.year.to_i-4, '#{year}'
								%li
									= link_to Date.today.year.to_i-5, '#{year}'
								%li.last
									= link_to Date.today.year.to_i-6, '#{year}'
						- if current_user
							%li.dropdown.menu-account
								= link_to "MY ACCOUNT", edit_user_path(current_user), :class=>"dropdown-toggle", :role=>"button"
								%ul.dropdown-menu{:role=>"menu", :"aria-labelledby"=>"dropdown_profile_icon"}
									%li
										= link_to "edit my account", edit_user_path(current_user)
									%li
										= link_to "previous submissions", :home_previous_submissions
									%li.last
										= link_to "current submissions", :home_current_submissions

						%li.menu-interior= link_to "INTERIOR DESIGN MAGAZINE"
				.social-container
					%a.social-icon{:href=>"#{get_option(:twitter_link_url)}", :target => "_blank"}						
						.twitter
					%a.social-icon{:href=>"#{get_option(:facebook_link_url)}", :target => "_blank"}
						.facebook
					%a.social-icon{:href=>"#{get_option(:linkedin_link_url)}", :target => "_blank"}
						.linkdin
					%a.social-icon{:href=>"#{get_option(:tumblur_link_url)}", :rel=>"publisher", :target => "_blank"}	
						.tumblur
					%a.social-icon{:href=>"#{get_option(:newsleter_link_url)}", :target => "_blank"}					
						.newsleter
					