.container.faq-page
	.row.first-row
		%h1 FAQ
	.row.second-row
		%ul
			%li
				= link_to 'PRODUCT DESIGN', '/submission_step?type="product"'
			%li
				= link_to 'PROJECT DESIGN', '/submission_step?type="project"'
			%li
				= link_to 'CONTACT US', '/home/contact_us'
	.row.third-row
		%h5 PRODUCT DESIGN
		%ul
			%li
				= link_to 'RULES & ELIGIBILITY', '#'
			%li
				= link_to 'KEY DATES', '#'
			%li
				= link_to 'PRODUCT CATEGORIES', '#'
			%li.last
				= link_to 'REQUIREMENTS', '#'
	.row.fourth-row
		%p.sub-title RULES & ELIGIBILITY
		%ul
			%li Products must have been manufactured and introduced to the market between September 2012 and August 2013.
			%li Due to the comprehensive nature of this competition, web *do* accept products that have been awarded and/or are prt of another competition.
			%li There is no limit to the number of products entered to the competition.
		%p Please note: product categories may be renamed, consolidated, or eliminated and products may be reassigned at the editors discretion.
		%p Fees: $300/entry AND per category.(e. g. one product entered into two categories is $300 x 2 = 600$)

		%p Best of Year Product Design finalists will be selected by interior designers and architects via an online vote in September.
		%p Finalists will be posted on this site in November.
		%p Winners will be chosen by editor in chief Cindy Allen and a jury of design leaders, and announced live December 6, 2013 during a celebration in New York City. Winners will be featured in the December issue of interior Design.

		%p.sub-title KEY DATES
		%p September 6: Deadline for product submissions
		%p September 16-27: Designers will be invited to vote on their favorites during a two-week voting period
		%p November: Finalists will be posted
		%p December 6: Live Best of Year Awards event

		%p.sub-title PRODUCT CATEGORIES
		.row
			.span5
				%label Accessories
				%label Accessories: Office
				%label Accessories: Outdoor
				%label Bath: Accessories and Hardware
				%label Bath: Cabinetry
				%label Bath: Fittings(faucets etc.)
				%label Bath: fixtures(sinks, tubs etc.)
				%label Architectural Products
				%label Flooring: Carpet/Broadloom
				%label Flooring: Carpet/Modular
				%label Flooring: Carpet/Rugs
				%label Flooring: Hard
				%label Flooring: Healthcare
				%label Flooring: Hospitality
				%label Flooring: Tile and Stone
				%label Furniture: Constract/Case Goods
				%label Furniture: Contract/Desking
				%label Furniture: Contract/Systems
				%label Furniture: Contract/Tables
				%label Furniture: Education
				%label Furniture: Healthcare/Furniture and Seating
				%label Furniture: Outdorr/Lounge
				%label Furniture: Outdoor/Seating & Tables
				%label Furniture: Partitions and Wall System
				%label Furniture: Residential/Storage
				%label Furniture: Residential/Dining Tables
				%label Furniture: Residential/Occasional Tables
				%label Furniture: Youth
				%label Green Innovation
			.span4
				%label Hardware
				%label Kitchen: Appliances
				%label Kitchen: Cabinetry
				%label Kitchen: Fittings
				%label Kitchen: Fixtures
				%label Lighting: Chandelier(multiple bulb)
				%label Lighting: Architectural
				%label Lighting: Pendant(single bulb)
				%label Lighting: Floor and Sconce
				%label Lighting: Table
				%label Materials and Surfaces(including paneling)
				%label Seating: Contract/Conference
				%label Seating: Contract/Guest
				%label Seating: Contract/Lounge
				%label Seating: Contract/Task
				%label Seating: Residential/Accent
				%label Seating: Residential/Lounge
				%label Seating: Residential/Sofa
				%label Technology
				%label Textiles: Contract
				%label Textiles: Healthcare
				%label Textiles: Hospitality
				%label Textiles: Outdoor
				%label Textiles: Residential
				%label Wallcovering: Contract
				%label Wallcovering: Fabric
				%label Wallcovering: Treatments(including Tile and Stone)
				%label Wallcovering: Paper			
				%label Window Treatments
		%p		
		%p Reminder: after you submit a product, the product categories may be renamed, consolidated, or eliminated and products may be reassigned at the editors' discretion. You will be notified directly if this pertains to one of your entries.
		%p.sub-title REQUIREMENTS	