.container.faq-page
	.row.first-row
		%h1 FAQ
	.row.second-row
		%ul
			%li
				= link_to 'PRODUCT DESIGN', '#product_design'
			%li
				= link_to 'PROJECT DESIGN', '#project_design'
			%li
				= link_to 'CONTACT US', '#contact_us'
	.row.third-row
		%h5#product_design PRODUCT DESIGN
		%ul
			%li
				= link_to 'RULES & ELIGIBILITY', '#rule_eligibility'
			%li
				= link_to 'KEY DATES', '#key_dates'
			%li
				= link_to 'PRODUCT CATEGORIES', '#product_categories'
			%li.last
				= link_to 'REQUIREMENTS', '#pd_requirements'
	.row.fourth-row
		%p#rule_eligibility.sub-title RULES & ELIGIBILITY
		%ul
			%li Products must have been manufactured and introduced to the market between September 2012 and August 2013.
			%li Due to the comprehensive nature of this competition, web *do* accept products that have been awarded and/or are prt of another competition.
			%li There is no limit to the number of products entered to the competition.
		%p Please note: product categories may be renamed, consolidated, or eliminated and products may be reassigned at the editors discretion.
		%p Fees: $300/entry AND per category.(e. g. one product entered into two categories is $300 x 2 = 600$)

		%p Best of Year Product Design finalists will be selected by interior designers and architects via an online vote in September.
		%p Finalists will be posted on this site in November.
		%p Winners will be chosen by editor in chief Cindy Allen and a jury of design leaders, and announced live December 6, 2013 during a celebration in New York City. Winners will be featured in the December issue of interior Design.

		%p#key_dates.sub-title KEY DATES
		%p September 6: Deadline for product submissions
		%p September 16-27: Designers will be invited to vote on their favorites during a two-week voting period
		%p November: Finalists will be posted
		%p December 6: Live Best of Year Awards event

		%p#product_categories.sub-title PRODUCT CATEGORIES
		.row
			.span5
				%label Accessories
				%label Accessories: Office
				%label Accessories: Outdoor
				%label Bath: Accessories and Hardware
				%label Bath: Cabinetry
				%label Bath: Fittings(faucets etc.)
				%label Bath: fixtures(sinks, tubs etc.)
				%label Architectural Products
				%label Flooring: Carpet/Broadloom
				%label Flooring: Carpet/Modular
				%label Flooring: Carpet/Rugs
				%label Flooring: Hard
				%label Flooring: Healthcare
				%label Flooring: Hospitality
				%label Flooring: Tile and Stone
				%label Furniture: Constract/Case Goods
				%label Furniture: Contract/Desking
				%label Furniture: Contract/Systems
				%label Furniture: Contract/Tables
				%label Furniture: Education
				%label Furniture: Healthcare/Furniture and Seating
				%label Furniture: Outdorr/Lounge
				%label Furniture: Outdoor/Seating & Tables
				%label Furniture: Partitions and Wall System
				%label Furniture: Residential/Storage
				%label Furniture: Residential/Dining Tables
				%label Furniture: Residential/Occasional Tables
				%label Furniture: Youth
				%label Green Innovation
			.span4
				%label Hardware
				%label Kitchen: Appliances
				%label Kitchen: Cabinetry
				%label Kitchen: Fittings
				%label Kitchen: Fixtures
				%label Lighting: Chandelier(multiple bulb)
				%label Lighting: Architectural
				%label Lighting: Pendant(single bulb)
				%label Lighting: Floor and Sconce
				%label Lighting: Table
				%label Materials and Surfaces(including paneling)
				%label Seating: Contract/Conference
				%label Seating: Contract/Guest
				%label Seating: Contract/Lounge
				%label Seating: Contract/Task
				%label Seating: Residential/Accent
				%label Seating: Residential/Lounge
				%label Seating: Residential/Sofa
				%label Technology
				%label Textiles: Contract
				%label Textiles: Healthcare
				%label Textiles: Hospitality
				%label Textiles: Outdoor
				%label Textiles: Residential
				%label Wallcovering: Contract
				%label Wallcovering: Fabric
				%label Wallcovering: Treatments(including Tile and Stone)
				%label Wallcovering: Paper			
				%label Window Treatments
		%p		
		%p Reminder: after you submit a product, the product categories may be renamed, consolidated, or eliminated and products may be reassigned at the editors' discretion. You will be notified directly if this pertains to one of your entries.
		%p#pd_requirements.sub-title REQUIREMENTS	
		%p Product entries must include a completed submission from, including a digital product image, submitted no later than 11:59px EST on September 6, 2013. You must upload a digital product image, 350dpi high resolution, .jpg or .tif file, for reproduction at 5" x 7" minimum, and smaller than 5MB.
		%br/
		%br/
		%h5#project_design PROJECT DESIGN
		.row
			%ul
				%li
					= link_to 'RULES & ELIGIBILITY', '#pj_rule_eligibility'
				%li
					= link_to 'KEY DATES', '#pj_key_dates'
				%li
					= link_to 'PRODUCT CATEGORIES', '#pj_categories'
				%li.last
					= link_to 'REQUIREMENTS', '#pj_requirements'
		
		%p#pj_rule_eligibility.sub-title RULES & ELIGIBILITY
		%ul
			%li Work must have been completed between September 2012 and Augst 2013
			%li Due to the comprehensive nature of this competition, we will accept work that has been published previously and/or was part of another competition
			%li There is no limit to the number of projects that may be entered to the competition
			%li Please note: submissions may be reassigned to a different project category at the editor's discretion.
		%p Fees: $300/entry AND per category. (e. g. one project entered into two categories is $300 x 2 = 600$ )
		%p Best of Year: Project Design winners will be chosen by editor in chief Cindy Allen and a jury of design leaders and featured in the December issue of Interior Design.
		%p Finalists will be posted on this site in November.
		%p Winners will be announced live December 6, 2013, during a ceremony and celebration in New York City.

		%p#pj_key_dates.sub-title KEY DATES
		%p September 6: Deadline for project submissions
		%p November: Finalists will be posted
		%p December 6: Live Best of Year Awards event

		%p#pj_categories.sub-title PROJECT CATEGORIES
		%p Beauty/Spa/Fitness
		%p Eco
		%p Education
		%p Exhibit / Installation		
		%p Healthcare
		%p Hospitality: Hotel
		%p Hospitality: Restaurant, Lounge, Bar
		%p Institutional(cultural, government, religious)
		%p Kitchen & Bath
		%p Office: Large / > 50,000 SQ FT 
		%p Office: Mid-Size / 10-50,000 SQ FT
		%p OFFICE: Small / < 10,000 SQ FT
		%p Public Spaces / Outdoor
		%p Residence: Apartment/Loft/Multi-Unit Dwelling
		%p Residence: House/Townhouse
		%p Retail
		%p Showroom
		%p reminder: submission may be reassigned at the editors descretion
		
		%p#pj_requirements.sub-title REQUIREMENTS
		%p Project entries must include a completed submission form, including a digital images, press release or other accompanying documentation, list of project team members, and list of primary sources, submitted no later than 11:59pm EST on September 6, 2013. You will need to upload a .zip file (max. size 20MB) containing all of the project images. Each images should be minimum of 350dpi high resolution, .jpg or .tif file size 9" x 11".

		%br/
		%br/
		%h5#contact_us CONTACT US
		%p If you have any questions about your submissions, please review our FAQs, contact us at boyawards@interiordesign.net.