.row.submission-landing-page
	.container
		.row.first-row
			.span4
				%h3 Hi #{current_user.fullname}
		.row.second-row
			.span4.left-box
				%h4 Start a new submission:
				%p
					= link_to "Submit Project", submission_step_index_path.to_s+'?type=project', :class=>"btn btn-primary"
				%p
					= link_to "Submit Product", submission_step_index_path.to_s+'?type=product', :class=>"btn btn-primary"
			.span4.center-box
				%h4 Editing an submission:
				- @editing_submissions.each do |editing_submission|
					%p
						= link_to editing_submission.title, home_edit_submission_path.to_s + '?id='+ editing_submission.id.to_s
			
				%h4 Submited submission:			
				- @submited_submissions.each do |submited_submission|
					%p
						= link_to submited_submission.title, payment_process_path
			.span4.right-box
				%h4 Your account:
				%p
					%a.btn.btn-primary{:href => "#"} Edit Information
				%p
					%a.btn.btn-primary{:href => "#"} View Finished Submissions

