= simple_form_for @submission, :html => { :class => 'form-horizontal' } do |f|
  = f.input :user_id
  = f.input :title
  = f.input :description
  = f.input :status
  = f.input :active
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), submissions_path, :class => 'btn'
