.row
	.container
		%h1 Login
		 
		= form_for @user_session, :url => {:action => "create"} do |f|
			= f.error_messages
			.control-group
				= f.label :email, "Email Address",:class => 'control-label'
				.controls
					= f.text_field :email, :class => 'text_field'
			.control-group
				= f.label :password, "Email Address",:class => 'control-label'
				.controls
					= f.password_field :password, :class => 'text_field'		
			.control-group
				%label.checkbox
					= f.check_box :remember_me
					Rmember me
				
			%div
				= f.submit "Login", :class=>"btn btn-primary"
