.row.signin-page
	.container
		%h1.page-title{:style=>'margin-top: 40px;'} LOGIN TO 
		%h1.page-title{:style=>'margin-left: 180px;'}	YOUR BEST OF YEAR ACCOUNT
		 
		= form_for @user_session, :url => {:action => "create"}, :html=>{:class=>'form-horizontal'} do |f|
			= f.error_messages
			.row.input-form
				.control-group
					= f.label :email, "Email Address",:class => 'control-label'
					.controls
						= f.text_field :email, :class => 'text_field'
				.control-group
					= f.label :password, "Password",:class => 'control-label'
					.controls
						= f.password_field :password, :class => 'text_field'		
				.control-group
					%label.checkbox{:style=>'margin-left: 180px;'}
						= f.check_box :remember_me
						Remember me
			.submit-control-box
				= f.submit "Login", :class=>"c_btn"
